<#include '../common/header.ftl'>

<div>
    <div>
        <h1>403 Verboden toegang!</h1>
    </div>
    <p>
        U beschikt niet over de juiste rechten om toegang te krijgen tot deze
        pagina</br></br></br></br></br></br></br></br></br></br></br>
    </p>
</div>
