</div>
<div class="cleared"></div>
</div>

<div class="cleared"></div>
</div>
</div>

<div class="cleared"></div>
</div>

<#include "sidebar-right.ftl">

</div>
</div>
<div class="cleared"></div>
<div class="mvc-footer">
    <div class="mvc-footer-t"></div>
    <div class="mvc-footer-l"></div>
    <div class="mvc-footer-b"></div>
    <div class="mvc-footer-r"></div>
    <div class="mvc-footer-body">
        <a href="#" class="mvc-rss-tag-icon" title="RSS"></a>

        <div class="mvc-footer-text">
            <p><a href="#">Link1</a> | <a href="#">Link2</a> | <a href="#">Link3</a></p>

            <p>Copyright © 2011. All Rights Reserved.</p>
        </div>
        <div class="cleared"></div>
    </div>
</div>
<div class="cleared"></div>
</div>
</div>
<div class="cleared"></div>
<p class="mvc-page-footer"></p>
<div class="cleared"></div>
</div>

</body>
</html>
