<div id="modal" class="modal-dialog">
    <div id="modal_dialog">
        <div id="txtHint"></div>
    </div>
    <button id="close"></button>
    <button id="prev"></button>
    <button id="next"></button>
</div>