<div class="mvc-layout-cell mvc-sidebar2">
    <div class="mvc-block">
        <div class="mvc-block-body">
            <div class="mvc-blockcontent">
                <div class="mvc-blockcontent-body">
                    <div>
                        <form method="get" name="searchform" action="#">
                            <input type="text" value="" name="s" style="width: 95%;"/>
                             <span class="mvc-button-wrapper">
      <span class="mvc-button-l"> </span>
      <span class="mvc-button-r"> </span>
      <a class="mvc-button" href="javascript:void(0)">Search</a>
    </span> 

                        </form>
                    </div>
                    <div class="cleared"></div>
                </div>
            </div>
            <div class="cleared"></div>
        </div>
    </div>
    <div class="mvc-block">
        <div class="mvc-block-body">
            <div class="mvc-blockcontent">
                <div class="mvc-blockcontent-body">
                    <div>
                        <p>Lorem ipsum dolor sit amet. Nam sit amet sem. Mauris a ante.</p>
                        <ul>
                            <li>
                                <a href="#" title="All News">All News</a> (50)
                            </li>
                            <li>
                                <a href="#" title="Best of the Year">Best of the Year</a> (4)
                            </li>
                            <li>
                                <a href="#" title="Hyperlink">Hyperlink</a> (24)
                            </li>
                            <li>
                                <a href="#" title="Visited link" class="visited">Visited link</a> (17)
                            </li>
                            <li>
                                <a href="#" title="Hovered link" class="hover">Hovered link</a> (6)
                            </li>
                        </ul>
                    </div>
                    <div class="cleared"></div>
                </div>
            </div>
            <div class="cleared"></div>
        </div>
    </div>
    <div class="mvc-block">
        <div class="mvc-block-body">
            <div class="mvc-blockcontent">
                <div class="mvc-blockcontent-body">
                    <div>
                        <ul>
                            <li>
                                <a href="#" title="November 2008">November 2008</a>
                            </li>
                            <li>
                                <a href="#" title="October 2008">October 2008</a>
                            </li>
                            <li>
                                <a href="#" title="September 2008">September 2008</a>
                            </li>
                            <li>
                                <a href="#" title="June 2008">June 2008</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cleared"></div>
                </div>
            </div>
            <div class="cleared"></div>
        </div>
    </div>
    <div class="mvc-block">
        <div class="mvc-block-body">
            <div class="mvc-blockcontent">
                <div class="mvc-blockcontent-body">
                    <div>
                        <ul>
                            <li>
                                <a href="#">My first blog</a>
                            </li>
                            <li>
                                <a href="#">Who will prevail?</a>
                            </li>
                            <li>
                                <a href="#">Stay positive!</a>
                            </li>
                            <li>
                                <a href="#">Oil still going up</a>
                            </li>
                            <li>
                                <a href="#">Obama wins again</a>
                            </li>
                            <li>
                                <a href="#">Gripes and Grins</a>
                            </li>
                            <li>
                                <a href="#">2008 Olympics</a>
                            </li>
                            <li>
                                <a href="#">How to SEO</a>
                            </li>
                            <li>
                                <a href="#">On Global Warming</a>
                            </li>
                            <li>
                                <a href="#">Can you guess?</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cleared"></div>
                </div>
            </div>
            <div class="cleared"></div>
        </div>
    </div>

    <div class="cleared"></div>
</div>