<#include 'common/header.ftl'>
<form action="/user/add" method="post" class="appnitro">
    <ul>

        <li>
            <div>
                <label for="username" class="description">User</label>
                <input type="text" maxlength="255" class="element text medium" name="userName" id="userName" value="">
            </div>

            <div>
                <label for="firstName" class="description">First name</label>
                            <span>
                                <input type="text" size="10" class="element text currency" name="firstName"
                                       id="firstName" value="">
                            </span>
            </div>
            <div>
                <label for="lastName" class="description">Last name</label>
                            <span>
                                <input type="text" size="10" class="element text currency" name="lastName" id="lastName"
                                       value="">
                            </span>
            </div>
            <div>
                <label for="password" class="description">Password </label>
                <input type="text" name="password" id="password" value="">
            </div>
            <div>
                <select id="roleType" name="roleType">
                    <option value="ROLE_ADMIN">admin</option>
                    <option value="ROLE_USER">user</option>
                </select>
            </div>
        </li>

        <li class="buttons">
            <input type="submit" value="Save" class="art-button" id="saveUser">
        </li>
    </ul>
</form>

<#include 'common/footer.ftl'>