<#include 'common/header.ftl'>

<p>vul de Categoriegegevens hieronder in</p>

<form action="/category/update" method="post" class="appnitro" id="new_item_form">

    <input type="hidden" id="categoryId" name="categoryId" value="${category.id}">
    <label for="categoryName" class="description">Category</label>
    <input type="text" maxlength="255" class="element text medium" name="categoryName" id="categoryName"
           value="${category.name}">

    <input type="submit" value="Save" class="art-button" id="saveItem">
</form>



<#include 'common/footer.ftl'>





