<#include 'common/header.ftl'>

<p>Enter Page content here...</p>

<p><img src="/static/images/shutterstock_1360528.jpg" alt="an image" style="float:left"/>Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet
    congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris.
    Cras elit nisl, rhoncus nec iaculis ultricies, feugiat eget sapien. Pellentesque
    ac felis tellus.</p>

<p>Aenean sollicitudin imperdiet arcu, vitae dignissim est posuere id. Duis placerat
    justo eu nunc interdum ultrices. Phasellus elit dolor, porttitor id consectetur
    sit amet, posuere id magna. Lorem ipsum dolor sit amet, consectetur adipiscing
    elit.</p>

<p> Suspendisse pharetra auctor pharetra. Nunc a sollicitudin est. Curabitur
    ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed. Donec vel
    neque in neque porta venenatis sed sit amet lectus. Fusce ornare elit nisl,
    feugiat bibendum lorem. Vivamus pretium dictum sem vel laoreet. In fringilla
    pharetra purus, semper vulputate ligula cursus in. Donec at nunc nec dui laoreet
    porta eu eu ipsum. Sed eget lacus sit amet risus elementum dictum.</p>


<#include 'common/footer.ftl'>