/* begin Page */

/* Created by Artisteer v3.0.0.45570 */

img {
    filter: expression(artFixPNG(this));
}

.cleared {
    width: 1px;
}

/* end Page */

/* begin Header */
div.mvc-header-png {
    font-size: 1px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/imagesheader.png',sizingMethod='crop')");
}

/* end Header */

/* begin HeaderObject */
div.mvc-headerobject {
    font-size: 1px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/imagesheader-object.png',sizingMethod='scale')");
}

/* end HeaderObject */

/* begin Box, Sheet */
.mvc-sheet, .mvc-sheet-body {
    zoom: 1;
}

.mvc-sheet-tr, .mvc-sheet-tl, .mvc-sheet-br, .mvc-sheet-bl, .mvc-sheet-tc, .mvc-sheet-bc, .mvc-sheet-cr, .mvc-sheet-cl {
    font-size: 1px;
    background: none;
}

.mvc-sheet-tr, .mvc-sheet-tl, .mvc-sheet-br, .mvc-sheet-bl {
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/imagessheet_s.png',sizingMethod='scale')");
}

.mvc-sheet-tl {
    clip: rect(auto 21px 21px auto);
}

.mvc-sheet-tr {
    left: expression(this.parentNode.offsetWidth-42+'px');
    clip: rect(auto auto 21px 21px);
}

.mvc-sheet-bl {
    top: expression(this.parentNode.offsetHeight-42+'px');
    clip: rect(21px 21px auto auto);
}

.mvc-sheet-br {
    top: expression(this.parentNode.offsetHeight-42+'px');
    left: expression(this.parentNode.offsetWidth-42+'px');
    clip: rect(21px auto auto 21px);
}

.mvc-sheet-tc, .mvc-sheet-bc {
    width: expression(this.parentNode.offsetWidth-42+'px');
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/imagessheet_h.png',sizingMethod='scale')");
}

.mvc-sheet-tc {
    clip: rect(auto auto 21px auto);
}

.mvc-sheet-bc {
    top: expression(this.parentNode.offsetHeight-42+'px');
    clip: rect(21px auto auto auto);
}

.mvc-sheet-cr, .mvc-sheet-cl {
    height: expression(this.parentNode.offsetHeight-42+'px');
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/imagessheet_v.png',sizingMethod='scale')");
}

.mvc-sheet-cr {
    left: expression(this.parentNode.offsetWidth-42+'px');
    clip: rect(auto auto auto 21px);
}

.mvc-sheet-cl {
    clip: rect(auto 21px auto auto);
}

.mvc-sheet-cc {
    font-size: 1px;
    width: expression(this.parentNode.offsetWidth-42+'px');
    height: expression(this.parentNode.offsetHeight-42+'px');
    background-color: #F5F5F5;
}

#mvc-page-background-top-texture, #mvc-page-background-middle-texture {
    width: expression(document.body.clientWidth>1200?"100%":"1200px");
}

/* end Box, Sheet */

/* begin Menu */
.mvc-hmenu ul {
    width: 1px;
    height: 1%;
}

.mvc-hmenu li.mvc-hmenuhover {
    z-index: 10000;
}

.mvc-hmenu .mvc-hmenuhoverUL {
    visibility: visible;
    top: 100%;
    left: 0;
}

.mvc-hmenu .mvc-hmenuhoverUL .mvc-hmenuhoverUL {
    top: 0;
    left: 100%;
}

.mvc-hmenu, .mvc-hmenu ul a {
    height: 1%;
}

.mvc-hmenu li li {
    float: left;
    width: 100%;
}

.mvc-nav {
    zoom: 1;
    height: 39px;
}

.mvc-nav-l, .mvc-nav-r {
    font-size: 1px;
    height: 39px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/imagesnav.png',sizingMethod='crop')");
}

.mvc-nav-l {
    width: expression(this.parentNode.offsetWidth-0+'px');
}

.mvc-nav-r {
    left: expression(this.parentNode.offsetWidth-888+'px');
    clip: rect(auto auto auto 888px);
}

/* end Menu */

/* begin MenuItem */
.mvc-hmenu a {
    display: inline-block;
}

.mvc-hmenu a:hover, .mvc-hmenuhoverA {
    visibility: visible;
}

.mvc-hmenu a .r, .mvc-hmenu a .l {
    font-size: 1px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/imagesmenuitem.png',sizingMethod='crop')");
}

.mvc-hmenu a .r {
    left: 100%;
    margin-left: -400px;
    clip: rect(auto auto auto 400px);
}

.mvc-hmenu a .l {
    width: expression(this.parentNode.offsetWidth-0+'px');
}

.mvc-hmenuhover .mvc-hmenuhoverA .t {
    color: #1D1A16;
}

.mvc-hmenuhover .mvc-hmenuhoverA .l, .mvc-hmenuhover .mvc-hmenuhoverA .r {
    top: -25px;
}

/* end MenuItem */

/* begin MenuSubItem */
.mvc-hmenu ul a {
    color: #2B2827 !important;
}

.mvc-hmenu ul a:hover {
    color: #1B1918 !important;
}

.mvc-hmenu ul .mvc-hmenuhover .mvc-hmenuhoverA {
    color: #1B1918 !important;
    background-position: 0 -20px;
}

.mvc-nav .mvc-hmenu ul a:hover span, .mvc-nav .mvc-hmenu ul a:hover span span {
    color: #1B1918 !important;
}

.mvc-nav .mvc-hmenu ul .mvc-hmenuhover .mvc-hmenuhoverA span, .mvc-nav .mvc-hmenu ul .mvc-hmenuhover .mvc-hmenuhoverA span span {
    color: #1B1918 !important;
}

/* end MenuSubItem */

/* begin Layout */
.mvc-content-layout, .mvc-content-layout-row {
    display: block;
}

.mvc-content-layout, .mvc-content-layout-row {
    zoom: 1;
}

/* end Layout */

/* begin Box, Block, VMenuBlock */
.mvc-vmenublock, .mvc-vmenublock-body {
    zoom: 1;
}

/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */
.mvc-vmenublockcontent, .mvc-vmenublockcontent-body {
    zoom: 1;
}

.mvc-vmenublockcontent, .mvc-vmenublockcontent-body {
    zoom: 1;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.mvc-vmenu .mvc-vmenu-separator, ul.mvc-vmenu .mvc-vmenu-separator-span, ul.mvc-vmenu li.mvc-vsubmenu-separator, ul.mvc-vmenu .mvc-vsubmenu-separator-span {
    zoom: 1;
    overflow: hidden;
    float: left;
    width: 100%;
}

ul.mvc-vmenu a:hover {
    visibility: visible;
}

ul.mvc-vmenu li {
    zoom: 1;
}

ul.mvc-vmenu a .r, ul.mvc-vmenu a .l {
    font-size: 1px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/imagesvmenuitem.png',sizingMethod='crop')");
}

ul.mvc-vmenu a .r {
    left: expression(this.parentNode.offsetWidth-888+'px');
    clip: rect(auto auto auto 888px);
}

ul.mvc-vmenu a .l {
    width: expression(this.parentNode.offsetWidth-0+'px');
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.mvc-vmenu ul a {
    color: #3E3A38 !important;
    position: relative;
    zoom: 1;
}

ul.mvc-vmenu ul li {
    position: relative;
    zoom: 1;
}

ul.mvc-vmenu ul a.active {
    color: #2E2E2E !important;
}

ul.mvc-vmenu ul a:hover {
    color: #36312B !important;
}

ul.mvc-vmenu ul a:hover span, ul.mvc-vmenu ul a:hover span span {
    color: #36312B !important;
}

/* end VMenuSubItem */

/* begin Box, Block */
.mvc-block, .mvc-block-body {
    zoom: 1;
}

/* end Box, Block */

/* begin BlockHeader */
.mvc-blockheader {
    zoom: 1;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.mvc-blockcontent, .mvc-blockcontent-body {
    zoom: 1;
}

.mvc-blockcontent-body ul li {
    height: 1%;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/imagesblockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Button */
.mvc-button-wrapper, .mvc-button-wrapper .mvc-button-l, .mvc-button-wrapper .mvc-button-r {
    zoom: 1;
}

.mvc-button-wrapper .mvc-button {
    float: left;
}

.mvc-button-wrapper .mvc-button-l, .mvc-button-wrapper .mvc-button-r {
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/imagesbutton.png',sizingMethod='crop')");
}

.mvc-button-wrapper .mvc-button-r {
    left: expression(this.parentNode.offsetWidth-401+'px');
    clip: rect(auto auto auto 396px);
}

.mvc-button-wrapper .mvc-button-l {
    width: expression(this.parentNode.offsetWidth-5+'px');
}

/* end Button */

/* begin Box, Post */
.mvc-post, .mvc-post-body {
    zoom: 1;
}

/* end Box, Post */

/* begin PostBullets */
.mvc-post ul li, .mvc-post ol ul li {
    height: 1%;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/imagespostbullets.png',sizingMethod='crop')");
    padding-left: 12px;
    /* makes "ul li" not to align behind the image if they are in the same line */
    overflow-x: visible;
    overflow-y: hidden;
}

.mvc-post ul ol li {
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
    padding-left: 0;
    /* overrides overflow for "ul li" and sets the default value */
    overflow: visible;
}

/* end PostBullets */

/* begin PostQuote */
.mvc-postcontent blockquote {
    height: 1%;
    background-image: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/imagespostquote.png',sizingMethod='crop')");
}

/* end PostQuote */

/* begin Footer */
.mvc-footer-body {
    padding-right: 0;
    zoom: 1;
}

.mvc-footer {
    zoom: 1;
}

.mvc-footer-text {
    height: 50px;
}

.mvc-footer-b {
    top: expression(this.parentNode.offsetHeight-50+'px');
    width: expression(this.parentNode.offsetWidth-0+'px');
    zoom: 1;
    font-size: 1px;
}

.mvc-footer-t {
    zoom: 1;
    font-size: 1px;
    height: expression(this.parentNode.offsetHeight-50+'px');
    width: 100%;
}

.mvc-rss-tag-icon {
    zoom: 1;
    font-size: 1px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"static/imagesrssicon.png',sizingMethod='crop')");
}

/* end Footer */

/* begin LayoutCell, content */

.mvc-sidebar2 {
    width: auto;
}

.mvc-content-layout .mvc-layout-cell, .mvc-content-layout .mvc-layout-cell .mvc-content-layout .mvc-layout-cell {
    display: block;
    position: relative;
    float: left;
    clear: right;
}

.mvc-content-layout .mvc-layout-cell, .mvc-content-layout .mvc-layout-cell .mvc-content-layout .mvc-layout-cell {
    zoom: 1;
}

/* end LayoutCell, content */

