/* begin Page */

img {
    filter: expression(artFixPNG(this));
}

/* end Page */

/* begin Box, Sheet */
.mvc-sheet-tl {
    clip: rect(auto 21px 21px auto);
}

.mvc-sheet-tr {
    clip: rect(auto auto 21px 21px);
}

.mvc-sheet-bl {
    clip: rect(21px 21px auto auto);
}

.mvc-sheet-br {
    clip: rect(21px auto auto 21px);
}

.mvc-sheet-tc {
    clip: rect(auto auto 21px auto);
}

.mvc-sheet-bc {
    clip: rect(21px auto auto auto);
}

.mvc-sheet-cr {
    clip: rect(auto auto auto 21px);
}

.mvc-sheet-cl {
    clip: rect(auto 21px auto auto);
}

.mvc-sheet-body {
    zoom: 1;
}

/* end Box, Sheet */

/* begin Menu */
.mvc-nav-r {
    clip: rect(auto auto auto 888px);
}

/* end Menu */

/* begin MenuItem */
.mvc-hmenu a .r {
    clip: rect(auto auto auto 400px);
}

/* end MenuItem */

/* begin Layout */
.mvc-content-layout, .mvc-content-layout-row {
    display: block;
}

.mvc-content-layout, .mvc-content-layout-row {
    zoom: 1;
}

/* end Layout */

/* begin Box, Block, VMenuBlock */

.mvc-vmenublock-body {
    zoom: 1;
}

/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */

.mvc-vmenublockcontent-body {
    zoom: 1;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.mvc-vmenu .mvc-vmenu-separator, ul.mvc-vmenu .mvc-vmenu-separator-span, ul.mvc-vmenu li.mvc-vsubmenu-separator, ul.mvc-vmenu .mvc-vsubmenu-separator-span {
    zoom: 1;
    overflow: hidden;
    float: left;
    width: 100%;
}

.mvc-vmenu ul, .mvc-vmenu li {
    zoom: 1;
}

ul.mvc-vmenu a .r {
    clip: rect(auto auto auto 888px);
}

/* end VMenuItem */

/* begin Box, Block */

.mvc-block-body {
    zoom: 1;
}

/* end Box, Block */

/* begin Box, BlockContent */

.mvc-blockcontent-body {
    zoom: 1;
}

/* end Box, BlockContent */

/* begin Button */
.mvc-button-wrapper .mvc-button-r {
    clip: rect(auto auto auto 396px);
}

/* end Button */

/* begin Box, Post */

.mvc-post-body {
    zoom: 1;
}

/* end Box, Post */

/* begin PostContent */
.mvc-postcontent {
    height: 1%;
}

/* end PostContent */

/* begin Footer */
.mvc-footer-body {
    padding-right: 0;
    zoom: 1;
}

.mvc-footer {
    zoom: 1;
}

/* end Footer */

/* begin LayoutCell, content */
.mvc-sidebar2 {
    width: auto;
}

.mvc-content-layout .mvc-layout-cell, .mvc-content-layout .mvc-layout-cell .mvc-content-layout .mvc-layout-cell {
    display: block;
    position: relative;
    float: left;
    clear: right;
}

.mvc-content-layout .mvc-layout-cell, .mvc-content-layout .mvc-layout-cell .mvc-content-layout .mvc-layout-cell {
    zoom: 1;
}

.mvc-layout-cell .mvc-layout-cell {
    float: none;
    clear: both;
}

/* end LayoutCell, content */

