/* begin Page */
/* Created by Artisteer v3.0.0.45570 */

#mvc-main, table {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
    margin: 0;
    padding: 0;
}

.mvc-postcontent,
.mvc-postcontent li,
.mvc-postcontent table,
.mvc-postcontent a,
.mvc-postcontent a:link,
.mvc-postcontent a:visited,
.mvc-postcontent a.visited,
.mvc-postcontent a:hover,
.mvc-postcontent a.hovered {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.mvc-postcontent p {
    margin: 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
}

.mvc-postcontent a {
    text-decoration: none;
    color: #3B3735;
}

.mvc-postcontent a:link {
    text-decoration: none;
    color: #3B3735;
}

.mvc-postcontent a:visited, .mvc-postcontent a.visited {
    color: #545454;
}

.mvc-postcontent a:hover, .mvc-postcontent a.hover {
    color: #585350;
}

.mvc-postcontent h1 {
    color: #585350;
    margin: 21px 0;
}

.mvc-blockcontent h1 {
    margin: 21px 0;
}

.mvc-postcontent h2 {
    color: #585350;
    margin: 19px 0;
    font-size: 24px;
}

.mvc-blockcontent h2 {
    margin: 19px 0;
    font-size: 24px;
}

.mvc-postcontent h2 a, .mvc-postcontent h2 a:link, .mvc-postcontent h2 a:hover, .mvc-postcontent h2 a:visited, .mvc-blockcontent h2 a, .mvc-blockcontent h2 a:link, .mvc-blockcontent h2 a:hover, .mvc-blockcontent h2 a:visited {
    font-size: 24px;
}

.mvc-postcontent h3 {
    color: #3F3831;
    margin: 19px 0;
    font-size: 19px;
}

.mvc-blockcontent h3 {
    margin: 19px 0;
    font-size: 19px;
}

.mvc-postcontent h3 a, .mvc-postcontent h3 a:link, .mvc-postcontent h3 a:hover, .mvc-postcontent h3 a:visited, .mvc-blockcontent h3 a, .mvc-blockcontent h3 a:link, .mvc-blockcontent h3 a:hover, .mvc-blockcontent h3 a:visited {
    font-size: 19px;
}

.mvc-postcontent h4 {
    color: #282624;
    margin: 20px 0;
    font-size: 16px;
}

.mvc-blockcontent h4 {
    margin: 20px 0;
    font-size: 16px;
}

.mvc-postcontent h4 a, .mvc-postcontent h4 a:link, .mvc-postcontent h4 a:hover, .mvc-postcontent h4 a:visited, .mvc-blockcontent h4 a, .mvc-blockcontent h4 a:link, .mvc-blockcontent h4 a:hover, .mvc-blockcontent h4 a:visited {
    font-size: 16px;
}

.mvc-postcontent h5 {
    color: #282624;
    margin: 26px 0;
    font-size: 13px;
}

.mvc-blockcontent h5 {
    margin: 26px 0;
    font-size: 13px;
}

.mvc-postcontent h5 a, .mvc-postcontent h5 a:link, .mvc-postcontent h5 a:hover, .mvc-postcontent h5 a:visited, .mvc-blockcontent h5 a, .mvc-blockcontent h5 a:link, .mvc-blockcontent h5 a:hover, .mvc-blockcontent h5 a:visited {
    font-size: 13px;
}

.mvc-postcontent h6 {
    color: #3B3735;
    margin: 35px 0;
    font-size: 11px;
}

.mvc-blockcontent h6 {
    margin: 35px 0;
    font-size: 11px;
}

.mvc-postcontent h6 a, .mvc-postcontent h6 a:link, .mvc-postcontent h6 a:hover, .mvc-postcontent h6 a:visited, .mvc-blockcontent h6 a, .mvc-blockcontent h6 a:link, .mvc-blockcontent h6 a:hover, .mvc-blockcontent h6 a:visited {
    font-size: 11px;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}

html {
    height: 100%;
}

#mvc-main {
    position: relative;
    z-index: 0;
    width: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: visible;
}

body {
    padding: 0;
    margin: 0;
    color: #2B2622;
    height: 100%;
    min-height: 100%;
    background-color: #FFFFFF;
    background-image: url('/static/images/Bottom_texture.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: top left;
    min-width: 1200px;
}

.cleared {
    display: block;
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    height: 0;
    overflow: hidden;
}

.reset-box {
    overflow: hidden;
    display: table;
}

form {
    padding: 0 !important;
    margin: 0 !important;
}

table.position {
    position: relative;
    width: 100%;
    table-layout: fixed;
}

/* end Page */

/* begin Header */
div.mvc-header {
    margin: 0 auto;
    position: relative;
    z-index: -1;
    width: 1200px;
    height: 187px;
    margin-top: 5px;
    margin-bottom: -5px;
}

div.mvc-header-clip {
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
    height: 187px;
}

.mvc-header-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.mvc-header-inner {
    margin: 0 6px;
}

div.mvc-header-center {
    position: relative;
    width: 1200px;
    left: 50%;
}

div.mvc-header-png {
    position: absolute;
    left: -50%;
    top: 0;
    width: 1200px;
    height: 187px;
    background-image: url('/static/images/header.png');
    background-repeat: no-repeat;
    background-position: center center;
}

/* end Header */

/* begin HeaderObject */
div.mvc-headerobject {
    display: block;
    left: 2%;
    margin-left: 0;
    position: absolute;
    top: 33px;
    width: 239px;
    height: 116px;
    background-image: url('/static/images/header-object.png');
}

/* end HeaderObject */

/* begin Logo */
div.mvc-logo {
    display: block;
    position: absolute;
    top: 57px;
    left: 55%;
    margin-left: -105px;
}

h1.mvc-logo-name {
    display: block;
    text-align: left;
    font-size: 35px;
    padding: 0;
    margin: 0;
    color: #171412 !important;
}

h1.mvc-logo-name a,
h1.mvc-logo-name a:link,
h1.mvc-logo-name a:visited,
h1.mvc-logo-name a:hover {
    font-size: 35px;
    padding: 0;
    margin: 0;
    color: #171412 !important;
}

h2.mvc-logo-text {
    display: block;
    text-align: left;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 19px;
    padding: 0;
    margin: 0;
    color: #764A05 !important;
}

h2.mvc-logo-text a,
h2.mvc-logo-text a:link,
h2.mvc-logo-text a:visited,
h2.mvc-logo-text a:hover {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 19px;
    padding: 0;
    margin: 0;
    color: #764A05 !important;
}

#headline, #slogan {
    display: block;
    min-width: 150px;
    text-align: left;
}

/* end Logo */

/* begin Box, Sheet */
.mvc-sheet {
    position: relative;
    margin: 0 auto;
    min-width: 23px;
    min-height: 23px;
    margin-top: 15px;
    margin-bottom: -5px;
    cursor: auto;
    width: 1200px;
}

.mvc-sheet-body {
    position: relative;
    padding: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.mvc-sheet-tr, .mvc-sheet-tl, .mvc-sheet-br, .mvc-sheet-bl, .mvc-sheet-tc, .mvc-sheet-bc, .mvc-sheet-cr, .mvc-sheet-cl {
    position: absolute;
}

.mvc-sheet-tr, .mvc-sheet-tl, .mvc-sheet-br, .mvc-sheet-bl {
    width: 42px;
    height: 42px;
    background-image: url('/static/images/sheet_s.png');
}

.mvc-sheet-tl {
    top: 0;
    left: 0;
    clip: rect(auto, 21px, 21px, auto);
}

.mvc-sheet-tr {
    top: 0;
    right: 0;
    clip: rect(auto, auto, 21px, 21px);
}

.mvc-sheet-bl {
    bottom: 0;
    left: 0;
    clip: rect(21px, 21px, auto, auto);
}

.mvc-sheet-br {
    bottom: 0;
    right: 0;
    clip: rect(21px, auto, auto, 21px);
}

.mvc-sheet-tc, .mvc-sheet-bc {
    left: 21px;
    right: 21px;
    height: 42px;
    background-image: url('/static/images/sheet_h.png');
}

.mvc-sheet-tc {
    top: 0;
    clip: rect(auto, auto, 21px, auto);
}

.mvc-sheet-bc {
    bottom: 0;
    clip: rect(21px, auto, auto, auto);
}

.mvc-sheet-cr, .mvc-sheet-cl {
    top: 21px;
    bottom: 21px;
    width: 42px;
    background-image: url('/static/images/sheet_v.png');
}

.mvc-sheet-cr {
    right: 0;
    clip: rect(auto, auto, auto, 21px);
}

.mvc-sheet-cl {
    left: 0;
    clip: rect(auto, 21px, auto, auto);
}

.mvc-sheet-cc {
    position: absolute;
    top: 21px;
    left: 21px;
    right: 21px;
    bottom: 21px;
    background-color: #F5F5F5;
}

#mvc-page-background-top-texture, #mvc-page-background-middle-texture, #mvc-page-background-glare {
    min-width: 1200px;
}

/* end Box, Sheet */

/* begin Menu */
/* menu structure */

.mvc-hmenu a, .mvc-hmenu a:link, .mvc-hmenu a:visited, .mvc-hmenu a:hover {
    outline: none;
}

.mvc-hmenu, .mvc-hmenu ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    display: block;
}

.mvc-hmenu li {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    float: left;
    position: relative;
    z-index: 5;
    background: none;
}

.mvc-hmenu li:hover {
    z-index: 10000;
    white-space: normal;
}

.mvc-hmenu li li {
    float: none;
}

.mvc-hmenu ul {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background: none;
    min-height: 0;
    background-image: url('/static/images/spacer.gif');
    padding: 10px 30px 30px 30px;
    margin: -10px 0 0 -30px;
}

.mvc-hmenu li:hover > ul {
    visibility: visible;
    top: 100%;
}

.mvc-hmenu li li:hover > ul {
    top: 0;
    left: 100%;
}

.mvc-hmenu:after, .mvc-hmenu ul:after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

.mvc-hmenu {
    min-height: 0;
    position: relative;
    padding: 14px 6px 0 6px;
}

.mvc-hmenu ul ul {
    padding: 30px 30px 30px 10px;
    margin: -30px 0 0 -10px;
}

/* menu structure */

.mvc-nav {
    position: relative;
    margin: 0 auto;
    min-height: 39px;
    z-index: 100;
    margin-top: 0;
    margin-bottom: 0;
}

.mvc-nav-outer {
    position: absolute;
    width: 100%;
}

.mvc-nav-l, .mvc-nav-r {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    background-image: url('/static/images/nav.png');
}

.mvc-nav-l {
    left: 0;
    right: 0;
}

.mvc-nav-r {
    right: 0;
    width: 888px;
    clip: rect(auto, auto, auto, 888px);
}

/* end Menu */

/* begin MenuItem */
.mvc-hmenu a {
    position: relative;
    display: block;
    overflow: hidden;
    height: 25px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
}

.mvc-hmenu ul li {
    margin: 0;
    clear: both;
}

.mvc-hmenu a .r, .mvc-hmenu a .l {
    position: absolute;
    display: block;
    top: 0;
    z-index: -1;
    height: 85px;
    background-image: url('/static/images/menuitem.png');
}

.mvc-hmenu a .l {
    left: 0;
    right: 0;
}

.mvc-hmenu a .r {
    width: 400px;
    right: 0;
    clip: rect(auto, auto, auto, 400px);
}

.mvc-hmenu a .t, .mvc-hmenu ul a, .mvc-hmenu a:link, .mvc-hmenu a:visited, .mvc-hmenu a:hover {
    text-align: left;
    text-decoration: none;
}

.mvc-hmenu a .t {
    color: #1B1918;
    padding: 0 22px;
    margin: 0 0;
    line-height: 25px;
    text-align: center;
}

.mvc-hmenu a:hover .l, .mvc-hmenu a:hover .r {
    top: -30px;
}

.mvc-hmenu li:hover > a .l, .mvc-hmenu li:hover > a .r {
    top: -30px;
}

.mvc-hmenu li:hover a .l, .mvc-hmenu li:hover a .r {
    top: -30px;
}

.mvc-hmenu a:hover .t {
    color: #1D1A16;
}

.mvc-hmenu li:hover a .t {
    color: #1D1A16;
}

.mvc-hmenu li:hover > a .t {
    color: #1D1A16;
}

.mvc-hmenu a.active .l, .mvc-hmenu a.active .r {
    top: -60px;
}

.mvc-hmenu a.active .t {
    color: #3B3B3B;
}

/* end MenuItem */

/* begin MenuSeparator */
.mvc-hmenu .mvc-hmenu-li-separator {
    display: block;
    width: 2px;
    height: 25px;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.mvc-hmenu ul a {
    display: block;
    white-space: nowrap;
    height: 20px;
    width: 180px;
    overflow: hidden;
    background-image: url('/static/images/subitem.png');
    background-position: left top;
    background-repeat: repeat-x;
    border-width: 0;
    border-style: solid;
    text-align: left;
    text-indent: 12px;
    text-decoration: none;
    line-height: 20px;
    color: #2B2827;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.mvc-nav ul.mvc-hmenu ul span, .mvc-nav ul.mvc-hmenu ul span span {
    display: inline;
    float: none;
    margin: inherit;
    padding: inherit;
    background-image: none;
    text-align: inherit;
    text-decoration: inherit;
}

.mvc-hmenu ul a:link, .mvc-hmenu ul a:visited, .mvc-hmenu ul a:hover, .mvc-hmenu ul a:active, .mvc-nav ul.mvc-hmenu ul span, .mvc-nav ul.mvc-hmenu ul span span {
    text-align: left;
    text-indent: 12px;
    text-decoration: none;
    line-height: 20px;
    color: #2B2827;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.mvc-hmenu ul li a:hover {
    color: #1B1918;
    background-position: 0 -20px;
}

.mvc-hmenu ul li:hover > a {
    color: #1B1918;
    background-position: 0 -20px;
}

.mvc-nav .mvc-hmenu ul li a:hover span, .mvc-nav .mvc-hmenu ul li a:hover span span {
    color: #1B1918;
}

.mvc-nav .mvc-hmenu ul li:hover > a span, .mvc-nav .mvc-hmenu ul li:hover > a span span {
    color: #1B1918;
}

/* end MenuSubItem */

/* begin Layout */
.mvc-content-layout {
    display: table;
    position: relative;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: Transparent;
    border: none !important;
    padding: 0 !important;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.mvc-layout-cell, .mvc-content-layout-row {
    background-color: Transparent;
    vertical-align: top;
    text-align: left;
    border: none;
    margin: 0;
    padding: 0;
}

.mvc-content-layout .mvc-content-layout {
    margin: 0;
}

.mvc-content-layout .mvc-layout-cell, .mvc-content-layout .mvc-layout-cell .mvc-content-layout .mvc-layout-cell {
    display: table-cell;
}

.mvc-layout-cell .mvc-layout-cell {
    display: block;
}

.mvc-content-layout-row {
    display: table-row;
}

.mvc-layout-glare {
    position: relative;
}

/* end Layout */

/* begin Box, Block, VMenuBlock */
.mvc-vmenublock {
    position: relative;
    min-width: 1px;
    min-height: 1px;
    margin: 7px;
}

.mvc-vmenublock-body {
    position: relative;
    padding: 0;
}

/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */
.mvc-vmenublockcontent {
    position: relative;
    margin: 0 auto;
    min-width: 1px;
    min-height: 1px;
}

.mvc-vmenublockcontent-body {
    position: relative;
    padding: 0;
    background-color: #FFFFFF;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.mvc-vmenu, ul.mvc-vmenu li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    line-height: 0;
}

ul.mvc-vmenu {
    margin-top: 0;
    margin-bottom: 0;
}

ul.mvc-vmenu ul {
    display: none;
    padding: 0;
    margin: 0 0 0 0;
}

ul.mvc-vmenu ul.active {
    display: block;
}

/* end VMenu */

/* begin VMenuItem */
ul.mvc-vmenu a {
    position: relative;
    display: block;
    overflow: hidden;
    height: 26px;
    cursor: pointer;
    text-decoration: none;
}

ul.mvc-vmenu li.mvc-vmenu-separator {
    display: block;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 1px;
}

ul.mvc-vmenu .mvc-vmenu-separator-span {
    display: block;
    padding: 0;
    font-size: 1px;
    height: 0;
    line-height: 0;
    border-top: solid 1px #988A7C;
}

ul.mvc-vmenu a .r, ul.mvc-vmenu a .l {
    position: absolute;
    display: block;
    top: 0;
    height: 88px;
    background-image: url('/static/images/vmenuitem.png');
}

ul.mvc-vmenu a .l {
    left: 0;
    right: 0;
}

ul.mvc-vmenu a .r {
    width: 888px;
    right: 0;
    clip: rect(auto, auto, auto, 888px);
}

ul.mvc-vmenu a .t, ul.mvc-vmenu ul a {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

ul.mvc-vmenu a .t {
    display: block;
    position: relative;
    top: 0;
    line-height: 26px;
    color: #585350;
    padding: 0 10px 0 20px;
    margin-left: 0;
    margin-right: 0;
}

ul.mvc-vmenu a.active .l, ul.mvc-vmenu a.active .r {
    top: -62px;
}

ul.mvc-vmenu a.active .t {
    color: #545454;
}

ul.mvc-vmenu a:hover .l, ul.mvc-vmenu a:hover .r {
    top: -31px;
}

ul.mvc-vmenu a:hover .t {
    color: #474038;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.mvc-vmenu ul li {
    margin: 0;
    padding: 0;
}

ul.mvc-vmenu ul a {
    display: block;
    white-space: nowrap;
    height: 24px;
    overflow: visible;
    background-image: url('/static/images/vsubitem.gif');
    background-position: 25px 0;
    background-repeat: repeat-x;
    padding: 0 0 0 45px;
    line-height: 24px;
    color: #3E3A38;
    font-size: 11px;
    margin-left: 0;
}

ul.mvc-vmenu ul ul li {
    padding: 0;
}

ul.mvc-vmenu ul span, ul.mvc-vmenu ul span span {
    display: inline;
    float: none;
    margin: inherit;
    padding: inherit;
    background-image: none;
    text-align: inherit;
    text-decoration: inherit;
}

ul.mvc-vmenu ul a:link, ul.mvc-vmenu ul a:visited, ul.mvc-vmenu ul a:hover, ul.mvc-vmenu ul a:active, ul.mvc-vmenu ul span, ul.mvc-vmenu ul span span {
    line-height: 24px;
    color: #3E3A38;
    font-size: 11px;
    margin-left: 0;
}

ul.mvc-vmenu ul ul {
    margin: 0 0 0 0;
}

ul.mvc-vmenu ul li.mvc-vsubmenu-separator {
    display: block;
    margin: 0;
    font-size: 1px;
    padding: 0 0 0 0;
}

ul.mvc-vmenu ul .mvc-vsubmenu-separator-span {
    display: block;
    padding: 0;
    font-size: 1px;
    height: 0;
    line-height: 0;
    margin: 0;
    border: none;
}

ul.mvc-vmenu ul li.mvc-vmenu-separator-first {
    margin-bottom: 0;
    padding-bottom: 0;
}

ul.mvc-vmenu ul li li a {
    background-position: 50px 0;
    padding: 0 0 0 70px;
}

ul.mvc-vmenu ul li li li a {
    background-position: 75px 0;
    padding: 0 0 0 95px;
}

ul.mvc-vmenu ul li li li li a {
    background-position: 100px 0;
    padding: 0 0 0 120px;
}

ul.mvc-vmenu ul li li li li li a {
    background-position: 125px 0;
    padding: 0 0 0 145px;
}

ul.mvc-vmenu ul li a.active {
    color: #2E2E2E;
    background-position: 25px -58px;
}

ul.mvc-vmenu ul li li a.active {
    background-position: 50px -58px;
}

ul.mvc-vmenu ul li li li a.active {
    background-position: 75px -58px;
}

ul.mvc-vmenu ul li li li li a.active {
    background-position: 100px -58px;
}

ul.mvc-vmenu ul li li li li li a.active {
    background-position: 125px -58px;
}

ul.mvc-vmenu ul li a:hover, ul.mvc-vmenu ul li a:hover.active {
    color: #36312B;
    background-position: 25px -29px;
}

ul.mvc-vmenu ul li li a:hover, ul.mvc-vmenu ul li li a:hover.active {
    background-position: 50px -29px;
}

ul.mvc-vmenu ul li li li a:hover, ul.mvc-vmenu ul li li li a:hover.active {
    background-position: 75px -29px;
}

ul.mvc-vmenu ul li li li li a:hover, ul.mvc-vmenu ul li li li li a:hover.active {
    background-position: 100px -29px;
}

ul.mvc-vmenu ul li li li li li a:hover, ul.mvc-vmenu ul li li li li li a:hover.active {
    background-position: 125px -29px;
}

/* end VMenuSubItem */

/* begin Box, Block */
.mvc-block {
    position: relative;
    min-width: 1px;
    min-height: 1px;
    margin: 7px;
}

.mvc-block-body {
    position: relative;
    padding: 0;
}

div.mvc-block img {
    /* WARNING do NOT collapse this to 'border' - inheritance! */
    border-color: #B8B8B8;
    border-style: solid;
    margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.mvc-blockheader {
    margin-bottom: 0;
    position: relative;
    height: 37px;
}

.mvc-blockheader h3.t {
    position: relative;
    height: 37px;
    color: #121212;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    margin: 0;
    padding: 0 10px 0 10px;
    white-space: nowrap;
    line-height: 37px;
}

.mvc-blockheader h3.t a,
.mvc-blockheader h3.t a:link,
.mvc-blockheader h3.t a:visited,
.mvc-blockheader h3.t a:hover {
    color: #121212;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 13px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.mvc-blockcontent {
    position: relative;
    margin: 0 auto;
    min-width: 1px;
    min-height: 1px;
}

.mvc-blockcontent-body {
    position: relative;
    padding: 3px;
    color: #2B2622;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 13px;
}

.mvc-blockcontent-body table,
.mvc-blockcontent-body li,
.mvc-blockcontent-body a,
.mvc-blockcontent-body a:link,
.mvc-blockcontent-body a:visited,
.mvc-blockcontent-body a:hover {
    color: #2B2622;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 13px;
}

.mvc-blockcontent-body p {
    margin: 6px 0;
}

.mvc-blockcontent-body a, .mvc-blockcontent-body a:link {
    color: #585350;
    text-decoration: underline;
}

.mvc-blockcontent-body a:visited, .mvc-blockcontent-body a.visited {
    color: #8C8C8C;
    text-decoration: none;
}

.mvc-blockcontent-body a:hover, .mvc-blockcontent-body a.hover {
    color: #766F6B;
    text-decoration: none;
}

.mvc-blockcontent-body ul li {
    line-height: 125%;
    color: #594F46;
    padding: 0 0 0 12px;
    background-image: url('/static/images/blockcontentbullets.png');
    background-repeat: no-repeat;
}

/* end Box, BlockContent */

/* begin Button */
.mvc-button-wrapper a.mvc-button,
.mvc-button-wrapper a.mvc-button:link,
.mvc-button-wrapper input.mvc-button,
.mvc-button-wrapper button.mvc-button {
    text-decoration: none;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    position: relative;
    top: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #363230 !important;
    width: auto;
    outline: none;
    border: none;
    background: none;
    line-height: 31px;
    height: 31px;
    margin: 0 !important;
    padding: 0 14px !important;
    overflow: visible;
    cursor: pointer;
}

.mvc-button img, .mvc-button-wrapper img {
    margin: 0;
    vertical-align: middle;
}

.mvc-button-wrapper {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    height: 31px;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.firefox2 .mvc-button-wrapper {
    display: block;
    float: left;
}

input, select, textarea {
    vertical-align: middle;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

.mvc-block select {
    width: 96%;
}

.mvc-button-wrapper.hover .mvc-button, .mvc-button-wrapper.hover a.mvc-button:link, .mvc-button:hover {
    color: #212121 !important;
    text-decoration: none !important;
}

.mvc-button-wrapper.active .mvc-button, .mvc-button-wrapper.active a.mvc-button:link {
    color: #1F1C19 !important;
}

.mvc-button-wrapper .mvc-button-l, .mvc-button-wrapper .mvc-button-r {
    display: block;
    position: absolute;
    height: 103px;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/button.png');
}

.mvc-button-wrapper .mvc-button-l {
    left: 0;
    right: 5px;
}

.mvc-button-wrapper .mvc-button-r {
    width: 401px;
    right: 0;
    clip: rect(auto, auto, auto, 396px);
}

.mvc-button-wrapper.hover .mvc-button-l, .mvc-button-wrapper.hover .mvc-button-r {
    top: -36px;
}

.mvc-button-wrapper.active .mvc-button-l, .mvc-button-wrapper.active .mvc-button-r {
    top: -72px;
}

.mvc-button-wrapper input {
    float: none !important;
}

/* end Button */

/* begin Box, Post */
.mvc-post {
    position: relative;
    min-width: 1px;
    min-height: 1px;
    margin: 10px;
}

.mvc-post-body {
    position: relative;
    padding: 15px;
}

a img {
    border: 0;
}

.mvc-article img, img.mvc-article, .mvc-block img, .mvc-footer img {
    border: solid 1px #B8B8B8;
    margin: 5px;
}

.mvc-metadata-icons img {
    border: none;
    vertical-align: middle;
    margin: 2px;
}

.mvc-article table, table.mvc-article {
    width: 100%;
    border-collapse: collapse;
    margin: 1px;
}

.mvc-article th, .mvc-article td {
    padding: 2px;
    border: solid 1px #858585;
    vertical-align: top;
    text-align: left;
}

.mvc-article th {
    text-align: center;
    vertical-align: middle;
    padding: 7px;
    border: solid 1px #858585;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

pre {
    overflow: auto;
    padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
h2.mvc-postheader {
    color: #282624;
    margin: 5px 0;
    font-size: 24px;
}

h2.mvc-postheader a,
h2.mvc-postheader a:link,
h2.mvc-postheader a:visited,
h2.mvc-postheader a.visited,
h2.mvc-postheader a:hover,
h2.mvc-postheader a.hovered {
    font-size: 24px;
}

h2.mvc-postheader a, h2.mvc-postheader a:link {
    text-align: left;
    text-decoration: none;
    color: #302D2C;
}

h2.mvc-postheader a:visited, h2.mvc-postheader a.visited {
    color: #50483F;
}

h2.mvc-postheader a:hover, h2.mvc-postheader a.hovered {
    color: #585350;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.mvc-postheadericons,
.mvc-postheadericons a,
.mvc-postheadericons a:link,
.mvc-postheadericons a:visited,
.mvc-postheadericons a:hover {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    color: #4F4F4F;
}

.mvc-postheadericons {
    padding: 1px;
}

.mvc-postheadericons a, .mvc-postheadericons a:link {
    text-decoration: none;
    color: #585350;
}

.mvc-postheadericons a:visited, .mvc-postheadericons a.visited {
    font-style: italic;
    font-weight: normal;
    color: #585350;
}

.mvc-postheadericons a:hover, .mvc-postheadericons a.hover {
    font-style: italic;
    font-weight: normal;
    text-decoration: underline;
    color: #766F6B;
}

/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.mvc-post ol, .mvc-post ul {
    margin: 1em 0 1em 2em;
    padding: 0;
}

.mvc-post li {
    font-size: 13px;
    color: #594F46;
    padding: 0 0 0 12px;
}

.mvc-post li ol, .mvc-post li ul {
    margin: 0.5em 0 0.5em 2em;
    padding: 0;
}

.mvc-post ol > li {
    background: none;
    padding-left: 0;
    /* overrides overflow for "ul li" and sets the default value */
    overflow: visible;
}

.mvc-post ul > li {
    background-image: url('/static/images/postbullets.png');
    background-repeat: no-repeat;
    padding-left: 12px;
    /* makes "ul li" not to align behind the image if they are in the same line */
    overflow-x: visible;
    overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
.mvc-postcontent blockquote,
.mvc-postcontent blockquote a,
.mvc-postcontent blockquote a:link,
.mvc-postcontent blockquote a:visited,
.mvc-postcontent blockquote a:hover {
    color: #0F0F0F;
}

.mvc-postcontent blockquote p {
    margin: 3px;
}

.mvc-postcontent blockquote {
    border: solid 1px #B8B8B8;
    margin: 10px 10px 10px 50px;
    padding: 10px 10px 10px 47px;
    background-color: #D9D9D9;
    background-image: url('/static/images/postquote.png');
    background-position: left top;
    background-repeat: no-repeat;
    /* makes blockquote not to align behind the image if they are in the same line */
    overflow: auto;
    clear: both;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.mvc-postfootericons,
.mvc-postfootericons a,
.mvc-postfootericons a:link,
.mvc-postfootericons a:visited,
.mvc-postfootericons a:hover {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    color: #636363;
}

.mvc-postfootericons {
    padding: 1px;
}

.mvc-postfootericons a, .mvc-postfootericons a:link {
    text-decoration: none;
    color: #585350;
}

.mvc-postfootericons a:visited, .mvc-postfootericons a.visited {
    color: #585350;
}

.mvc-postfootericons a:hover, .mvc-postfootericons a.hover {
    color: #766F6B;
}

/* end PostIcons, PostFooterIcons */

/* begin Footer */
.mvc-footer {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.mvc-footer-b {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-image: url('/static/images/footer_b.png');
}

.mvc-footer-t {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    background-color: #BCB3A9;
}

.mvc-footer-body {
    position: relative;
    padding: 10px;
}

.mvc-footer-body .mvc-rss-tag-icon {
    position: absolute;
    left: 6px;
    bottom: 10px;
    z-index: 1;
}

.mvc-rss-tag-icon {
    display: block;
    background-image: url('/static/images/rssicon.png');
    background-position: center right;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    cursor: default;
}

.mvc-footer-text p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.mvc-footer-text,
.mvc-footer-text a,
.mvc-footer-text a:link,
.mvc-footer-text a:visited,
.mvc-footer-text a:hover,
.mvc-footer-text td,
.mvc-footer-text th,
.mvc-footer-text caption {
    color: #2E2924;
}

.mvc-footer-text {
    min-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.mvc-footer-text a,
.mvc-footer-text a:link {
    color: #2E2B29;
    text-decoration: none;
}

.mvc-footer-text a:visited {
    color: #474038;
}

.mvc-footer-text a:hover {
    color: #433F3D;
}

div.mvc-footer img {
    /* WARNING do NOT collapse this to 'border' - inheritance! */
    border-width: 0;
    border-color: #B8B8B8;
    border-style: solid;
    margin: 10px;
}

/* end Footer */

/* begin PageFooter */
.mvc-page-footer,
.mvc-page-footer a,
.mvc-page-footer a:link,
.mvc-page-footer a:visited,
.mvc-page-footer a:hover {
    font-family: Arial;
    font-size: 10px;
    letter-spacing: normal;
    word-spacing: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    color: #5E5855;
}

.mvc-page-footer {
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #645A4F;
}

/* end PageFooter */

/* begin LayoutCell, sidebar1 */

.mvc-content-layout .mvc-sidebar1 {
    width: 200px;
}

/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */

/* end LayoutCell, content */

/* begin LayoutCell, sidebar2 */

.mvc-content-layout .mvc-sidebar2 {
    width: 200px;
}

/* end LayoutCell, sidebar2 */


